In [1]:
import pandas as pd
import numpy as np

In [2]:
kyenjojo = pd.read_excel("2022 Baselines..xlsx", sheet_name="kyenjojo_cntrl", header=5)

In [10]:
kyenjojo = kyenjojo[(kyenjojo['ID'] > 2) & (kyenjojo['ID'] < 492)]

In [11]:
mitooma = pd.read_excel("2022 Baselines..xlsx", sheet_name="mitooma_Cntrl.", header=5)
mitooma.head()

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,district,Surveyor_Name,Surveyor_Name2,...,postharvest_food_storage.1,trees_mulched.1,Water Control & Soil Management (%),fruit_and_vegetables.1,organic_pesticide_varieties.1,staple_crops.1,Crop Variets,Unnamed: 4646,WASH (%),AGRIC (%)
0,"Jul 27, 2022 5:31:40 PM","Jul 27, 2022 10:56:02 AM","Jul 27, 2022 12:06:04 PM",2207270005,3997,16.0,16.0,5,96,Nagaba Anold,...,0.5,0.5,0.500000,1,1,1,1.000000,NaN,0.571429,0.555556
1,"Jul 30, 2022 6:17:04 PM","Jul 30, 2022 1:35:33 PM","Jul 30, 2022 1:45:13 PM",2207271749,428,18.0,18.0,5,93,Kwikiriza Gloria,...,0.0,0.0,0.000000,0,0,0,0.000000,NaN,0.000000,0.000000
2,"Jul 26, 2022 7:11:34 PM","Jul 26, 2022 5:09:07 PM","Jul 26, 2022 5:39:08 PM",2207250959,1801,9.0,9.0,5,98,Nawenomuntu Obeth,...,0.5,0.5,0.833333,0,0,0,0.000000,NaN,0.357143,0.388889
3,"Jul 29, 2022 5:51:35 PM","Jul 29, 2022 2:22:57 PM","Jul 29, 2022 3:06:58 PM",2207271749,1856,3.0,3.0,5,93,Kwikiriza Gloria,...,0.0,0.0,0.166667,0,0,1,0.333333,NaN,0.035714,0.027778
4,"Jul 28, 2022 5:39:40 PM","Jul 28, 2022 11:30:22 AM","Jul 28, 2022 12:07:11 PM",2207271749,2181,7.0,7.0,5,95,Mwebe Henry,...,0.5,1.0,0.833333,2,0,4,2.000000,NaN,0.428571,0.444444

In [13]:
mitooma['ID'] = pd.Series(range(1, len(mitooma) + 1))

In [16]:
mitooma[(mitooma['ID'] > 9) & (mitooma['ID'] < 821)]['HH Income + Consumption + Residues/Day'].mean()

1.6741723614646127

In [17]:
mitooma = mitooma[(mitooma['ID'] > 9) & (mitooma['ID'] < 821)]

In [18]:
kaliro = pd.read_excel("2022 Baselines..xlsx", sheet_name="kaliro control", header=5)
kaliro.head()

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,district,Surveyor_Name,Surveyor_Name2,...,Livestock Asset Value (USD_PPP),HH Income (USD_PPP),Consumption + Residues (USD_PPP),HH Income + Consumption + Residues (USD_PPP),HH Income + Consumption+ Assets + Residues (USD_PPP),Assets (USD_PPP),HH Income/Day (USD_PPP),Consumption/Day (USD_PPP),HH Income + Consumption + Residues/Day (USD_PPP),HH Income + Consumption + Assets + Residues / Day (USD_PPP)
0,"Nov 21, 2021 7:47:56 PM","Nov 21, 2021 2:14:33 PM","Nov 21, 2021 3:07:40 PM",2111102049,3187,4,4,6,120,Stephen Kigenyi,...,17.807223,95.631383,26.381071,122.012454,139.819677,17.807223,0.262004,0.072277,0.334281,0.383068
1,"Nov 26, 2021 5:11:32 PM","Nov 26, 2021 1:49:01 PM","Nov 26, 2021 2:52:22 PM",2111102049,3461,385,385,6,134,Gorret Lujja,...,98.929017,39.571607,79.143213,118.714820,217.643837,98.929017,0.108415,0.216831,0.325246,0.596284
2,"Nov 23, 2021 4:43:45 PM","Nov 23, 2021 12:58:17 PM","Nov 23, 2021 1:37:51 PM",2111102049,2327,2,2,6,114,Pafuradito Ibanda,...,98.929017,39.571607,79.143213,118.714820,217.643837,98.929017,0.108415,0.216831,0.325246,0.596284
3,"Nov 20, 2021 5:35:13 PM","Nov 20, 2021 4:25:47 PM","Nov 20, 2021 5:34:54 PM",2111102049,3749,141,141,6,130,Claire Mwogeza,...,98.929017,72.547946,59.357410,131.905356,230.834372,98.929017,0.198761,0.162623,0.361385,0.632423
4,"Nov 27, 2021 5:18:33 PM","Nov 27, 2021 4:32:35 PM","Nov 27, 2021 4:57:29 PM",2111102049,1494,2,2,6,114,Pafuradito Ibanda,...,32.976339,140.149440,60.346700,200.496140,233.472479,32.976339,0.383971,0.165333,0.549304,0.639651

In [19]:
kaliro['ID'] = pd.Series(range(1, len(kaliro) + 1))

In [20]:
kaliro[(kaliro['ID'] > 10) & (kaliro['ID'] < 969)]['HH Income + Consumption + Residues/Day'].mean()

0.7146402728587706

In [21]:
kaliro = kaliro[(kaliro['ID'] > 10) & (kaliro['ID'] < 969)]

In [22]:
rubanda = pd.read_excel("2022 Baselines..xlsx", sheet_name="rubanda cntrl", header=5)
rubanda.head()

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,district,Surveyor_Name,Surveyor_Name2,...,postharvest_food_storage.1,trees_mulched.1,Water Control & Soil Management (%),fruit_and_vegetables.1,organic_pesticide_varieties.1,staple_crops.1,Crop Variets,Unnamed: 4647,WASH (%),AGRIC (%)
0,"Aug 21, 2022 5:05:08 PM","Aug 21, 2022 9:36:33 AM","Aug 21, 2022 2:11:13 PM",2208122006,2383,2,2,7,114,Mugabe Dickson,...,1.0,0.0,0.666667,3,0,4,2.333333,NaN,0.214286,0.444444
1,"Aug 21, 2022 7:51:45 AM","Aug 20, 2022 10:36:14 AM","Aug 21, 2022 7:08:07 AM",2208122006,3854,24,24,7,128,Tusiime Sylus Agaba,...,1.0,1.0,1.000000,1,0,1,0.666667,NaN,0.785714,0.733333
2,"Aug 21, 2022 4:45:59 PM","Aug 21, 2022 10:09:29 AM","Aug 21, 2022 3:46:53 PM",2208122006,1683,5,5,7,126,Abaho Perez,...,1.0,0.5,0.166667,1,0,2,1.000000,NaN,0.500000,0.194444
3,"Aug 13, 2022 6:00:37 PM","Aug 13, 2022 12:35:36 PM","Aug 13, 2022 1:26:21 PM",2208122006,3032,6,10,7,121,Tayebwa Sonia,...,1.0,0.5,0.333333,1,0,2,1.000000,NaN,0.071429,0.388889
4,"Aug 22, 2022 4:58:22 PM","Aug 22, 2022 12:24:27 PM","Aug 22, 2022 4:56:49 PM",2208122006,2066,3,3,7,127,Akandwanaho Charles,...,1.0,0.0,0.000000,0,0,0,0.000000,NaN,0.142857,0.166667

In [24]:
rubanda['ID'] = pd.Series(range(1, len(rubanda) + 1))

In [26]:
rubanda[(rubanda['ID'] > 7) & (rubanda['ID'] < 661)]['HH Income + Consumption + Residues/Day'].mean()

1.1250989896335588

In [27]:
rubanda = rubanda[(rubanda['ID'] > 7) & (rubanda['ID'] < 661)]

In [28]:
kanungu = pd.read_excel("2022 Baselines..xlsx", sheet_name="Kanungu Cntrl", header=5)
kanungu.head()

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,district,Surveyor_Name,Surveyor_Name2,...,postharvest_food_storage.1,trees_mulched.1,Water Control & Soil Management (%),fruit_and_vegetables.1,organic_pesticide_varieties.1,staple_crops.1,Crop Variets,Unnamed: 4651,WASH (%),AGRIC (%)
0,"Jul 19, 2022 5:39:22 PM","Jul 19, 2022 10:55:21 AM","Jul 19, 2022 11:33:56 AM",2.207182e+09,2315.0,4.0,4.0,2.0,20.0,Agatha Babirye,...,0.0,0.0,0.166667,1.0,0.0,1.0,0.666667,NaN,0.107143,0.111111
1,"Jul 18, 2022 6:02:53 PM","Jul 18, 2022 10:25:15 AM","Jul 18, 2022 11:15:03 AM",2.207170e+09,2855.0,3.0,3.0,2.0,20.0,Agatha Babirye,...,0.0,0.0,0.166667,1.0,0.0,0.0,0.333333,NaN,0.071429,0.111111
2,"Jul 19, 2022 4:17:28 PM","Jul 19, 2022 1:36:28 PM","Jul 19, 2022 2:29:58 PM",2.207182e+09,3182.0,4.0,4.0,2.0,45.0,Precious Agaba,...,0.0,NaN,0.500000,2.0,0.0,1.0,1.000000,NaN,0.250000,0.194444
3,"Jul 18, 2022 7:47:58 PM","Jul 18, 2022 12:54:13 PM","Jul 18, 2022 1:41:42 PM",2.207172e+09,2104.0,3.0,3.0,2.0,24.0,Crannimer Tukamwesiga,...,0.0,0.5,0.333333,1.0,0.0,2.0,1.000000,NaN,0.142857,0.166667
4,"Jul 19, 2022 4:08:49 PM","Jul 19, 2022 12:36:14 PM","Jul 19, 2022 1:39:18 PM",2.207182e+09,3786.0,5.0,5.0,2.0,36.0,Ivan Akandinda,...,0.5,0.0,0.166667,0.0,0.0,1.0,0.333333,NaN,0.392857,0.111111

In [29]:
kanungu['ID'] = pd.Series(range(1, len(kanungu) + 1))

In [30]:
kanungu[(kanungu['ID'] > 5) & (kanungu['ID'] < 435)]['HH Income + Consumption + Residues/Day'].mean()

1.6196199062893366

In [31]:
kanungu = kanungu[(kanungu['ID'] > 5) & (kanungu['ID'] < 435)]

## Merged Data

In [48]:
columns_to_use = [
    "pre_district", "pre_village", "pre_name","Main_source_of_water_for_consumption",
    "Distance_Travelled_to_Collect_Water_Round_Trip", "Time_to_collect_Water_for_Household_use_Minutes",
    "Number_of_Daily_Trips_to_collect_Water", "HH Income + Consumption + Residues/Day (USD_Cons_rate)",
    "HH Income + Consumption + Assets + Residues / Day (USD_Cons_rate)"
]

In [53]:
peer_base_2022 = pd.concat([
                    kyenjojo[columns_to_use], 
                    mitooma[columns_to_use], 
                    kaliro[columns_to_use], 
                    rubanda[columns_to_use], 
                    kanungu[columns_to_use]
                ], ignore_index=True)

In [54]:
peer_base_2022.to_excel("peer_base_2022.xlsx", index=False)

HH Income + Consumption + Residues/Day (USD_Cons_rate)	
HH Income + Consumption + Assets + Residues / Day (USD_Cons_rate)

'non_waterborne_30_days',
'waterborne_illness_last_30_days',
'Distance_travelled_one_way_OPD_treatment', 
'Time_travel_one_way_trip_OPD_treatment_minutes',
'HH_treatment_expense',
'waterborne_illness_hh_member_num',
'waterborne_illness_hh_member_num_u5',
'waterborne_illness_hh_member_instances'

In [39]:
kyenjojo["non_waterborne_30_days"]

2      0
3      0
4      0
5      0
6      0
      ..
486    2
487    2
488    0
489    0
490    0
Name: non_waterborne_30_days, Length: 489, dtype: int64

In [41]:
mitooma["non_waterborne_30_days"]

9      1.0
10     1.0
11     0.0
12     1.0
13     0.0
      ...
815    3.0
816    1.0
817    0.0
818    0.0
819    0.0
Name: non_waterborne_30_days, Length: 811, dtype: float64

In [50]:
# kaliro["waterborne_illness_last_30_days"]

In [51]:
rubanda["non_waterborne_30_days"]

7      0
8      0
9      0
10     0
11     0
      ..
655    0
656    0
657    0
658    0
659    2
Name: non_waterborne_30_days, Length: 653, dtype: int64

In [52]:
kanungu["non_waterborne_30_days"]

5      2.0
6      0.0
7      2.0
8      3.0
9      1.0
      ...
429    0.0
430    0.0
431    0.0
432    2.0
433    1.0
Name: non_waterborne_30_days, Length: 429, dtype: float64

## Refactored Code

In [55]:
def load_and_process_sheet(file_path, sheet_name, header, id_range):
    df = pd.read_excel(file_path, sheet_name=sheet_name, header=header)
    df['ID'] = pd.Series(range(1, len(df) + 1))
    return df[(df['ID'] > id_range[0]) & (df['ID'] < id_range[1])]

In [56]:
def process_all_sheets(file_path):
    sheet_configs = {
        'kyenjojo': ('kyenjojo_cntrl', 5, (2, 492)),
        'mitooma': ('mitooma_Cntrl.', 5, (9, 821)),
        'kaliro': ('kaliro control', 5, (10, 969)),
        'rubanda': ('rubanda cntrl', 5, (7, 661)),
        'kanungu': ('Kanungu Cntrl', 5, (5, 435))
    }
    
    dataframes = {}
    for name, (sheet, header, id_range) in sheet_configs.items():
        df = load_and_process_sheet(file_path, sheet, header, id_range)
        dataframes[name] = df     
        mean = df['HH Income + Consumption + Residues/Day'].mean()
        print(f"{name} mean: {mean}")
    
    return dataframes

In [57]:
def merge_dataframes(dataframes, columns_to_use):
    return pd.concat([df[columns_to_use] for df in dataframes.values()], ignore_index=True)

In [58]:
file_path = "2022 Baselines..xlsx"

columns_to_use = [
    "pre_district", "pre_village", "pre_name", "Main_source_of_water_for_consumption",
    "Distance_Travelled_to_Collect_Water_Round_Trip", "Time_to_collect_Water_for_Household_use_Minutes",
    "Number_of_Daily_Trips_to_collect_Water", "HH Income + Consumption + Residues/Day (USD_Cons_rate)",
    "HH Income + Consumption + Assets + Residues / Day (USD_Cons_rate)"
]

In [59]:
dataframes = process_all_sheets(file_path)

kyenjojo mean: 0.8509731467925213
mitooma mean: 1.6741723614646127
kaliro mean: 0.7146402728587706
rubanda mean: 1.1250989896335588
kanungu mean: 1.6196199062893366

In [ ]:
da

In [ ]:
peer_base_2022 = merge_dataframes(dataframes, columns_to_use)
peer_base_2022.to_excel("peer_base_2022.xlsx", index=False)