In [1]:
import pandas as pd

In [4]:
data = pd.read_excel("2024_cohorts_merged_edited_copy.xlsx", sheet_name="2019_2022_merged", header=5)

In [5]:
df = data.copy()

In [6]:
inflation_adjustment = 78.08 
const_rate_adjustment = 3600

In [7]:
df.head()

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,text_audit,date_collection,region,...,Beetroot,Black nightshade,White eggplants,Green Eggplants,Purple Eggplants,Dodo (Amaranthus),Others.1,Vegs_Num,Total VSLA Savings.,STATUS
0,"Jul 29, 2024 11:16:27 PM","Jul 29, 2024 5:25:05 PM","Jul 29, 2024 6:06:27 PM",2407300828,2457,4.0,4.0,https://rtvuganda.surveycto.com/view/submissio...,45503,4,...,0,0,0,0,0,0,0,0,0,PEER
1,"Jul 29, 2024 2:20:16 PM","Jul 29, 2024 1:20:26 PM","Jul 29, 2024 2:19:54 PM",2407301247,3291,9.0,9.0,https://rtvuganda.surveycto.com/view/submissio...,2024-07-30,4,...,0,0,0,0,0,0,0,0,0,PEER
2,"Jul 29, 2024 11:18:08 AM","Jul 29, 2024 10:23:17 AM","Jul 29, 2024 11:17:39 AM",2407300924,3261,4.0,4.0,https://rtvuganda.surveycto.com/view/submissio...,2024-07-30,4,...,0,0,0,0,0,0,0,0,0,PEER
3,"Jul 29, 2024 6:15:33 PM","Jul 29, 2024 1:44:04 PM","Jul 29, 2024 2:30:23 PM",2407301035,2592,38.0,38.0,https://rtvuganda.surveycto.com/view/submissio...,2024-07-30,4,...,0,0,0,0,0,0,0,0,0,PEER
4,"Jul 29, 2024 5:54:45 PM","Jul 29, 2024 3:13:19 PM","Jul 29, 2024 4:04:00 PM",2407301135,2912,27.0,27.0,https://rtvuganda.surveycto.com/view/submissio...,2024-07-30,4,...,0,0,0,0,0,0,0,0,0,PEER

In [8]:
df['pre_district'] = df['pre_district'].replace({"kanungu":"Kanungu"})

In [9]:
df['pre_district'].value_counts()

pre_district
Kanungu            2942
Mitooma            2084
Rubanda            1902
Kaliro             1603
Rukungiri          1566
Rubirizi           1089
Kyenjojo           1005
Kagadi_GAC          601
Kibaale             583
Kagadi_Standard     470
Kisoro              169
Name: count, dtype: int64

In [10]:
df['pre_cohort'].value_counts()

pre_cohort
2022    11344
2019     2670
Name: count, dtype: int64

In [87]:
df['non_waterborne_30_days_flag'] = df['non_waterborne_30_days'].apply(lambda x: 1 if x > 0 else 0)
df['waterborne_30_days_flag'] = df['waterborne_illness_last_30_days'].apply(lambda x: 1 if x > 0 else 0)
df['waterborne_illness_hh_member_num_flag'] = df['waterborne_illness_hh_member_num'].apply(lambda x: 1 if x > 0 else 0)
df['waterborne_illness_hh_member_num_u5_flag'] = df['waterborne_illness_hh_member_num_u5'].apply(lambda x: 1 if x > 0 else 0)
df['waterborne_illness_hh_member_instances_flag'] = df['waterborne_illness_hh_member_instances'].apply(lambda x: 1 if x > 0 else 0)

In [127]:
df["children_num_u5_present"] = df["children_num_u5"].apply(lambda x: 1 if x > 0 else 0)

In [128]:
# desired_status_order = ['RTV', 'PEER']  # Specify your desired order

# # Ensure the STATUS column follows the desired order
# df['STATUS'] = pd.Categorical(df['STATUS'], categories=desired_status_order, ordered=True)

In [149]:
year_2 = df[df['pre_cohort'] == 2022]
year_5 = df[df['pre_cohort'] == 2019]

In [150]:
rtv = year_2[year_2["STATUS"] == "RTV"]
peer = year_2[year_2["STATUS"] == "PEER"]

In [151]:
rtv.shape, peer.shape

((8164, 7228), (3180, 7228))

## Access To Health - Graduated cohorts

In [195]:
(year_2.groupby('STATUS')[
     [
          'non_waterborne_30_days',
          'waterborne_illness_last_30_days',
          'Distance_travelled_one_way_OPD_treatment', 
          'Time_travel_one_way_trip_OPD_treatment_minutes',
          'HH_treatment_expense',
          'waterborne_illness_hh_member_num',
          'waterborne_illness_hh_member_num_u5',
          'waterborne_illness_hh_member_instances'
     ]
]).mean().transpose()

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/3576928033.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  (year_2.groupby('STATUS')[

STATUS                                                   RTV          PEER
non_waterborne_30_days                               0.60828      1.107233
waterborne_illness_last_30_days                     0.126164      0.240252
Distance_travelled_one_way_OPD_treatment            2.955636       3.69165
Time_travel_one_way_trip_OPD_treatment_minutes     63.286992      70.66478
HH_treatment_expense                            60173.240355  89999.978274
waterborne_illness_hh_member_num                    1.369081      1.528217
waterborne_illness_hh_member_num_u5                 0.852941      0.773148
waterborne_illness_hh_member_instances              1.316514      1.556391

In [198]:
# year_2.groupby(['STATUS','children_num_u5_present'])['waterborne_illness_hh_member_num_u5'].mean()

In [208]:
rtv["waterborne_illness_hh_member_num_u5"].count() / rtv.shape[0]

0.03748162665360118

In [202]:
rtv["waterborne_illness_hh_member_num_u5"].count() /rtv["children_num_u5"].count()

0.03748162665360118

In [162]:
rtv["waterborne_illness_hh_member_num_u5"].sum() /rtv["children_num_u5"].sum()

0.061167096320599953

In [203]:
peer["waterborne_illness_hh_member_num_u5"].count() /peer["children_num_u5"].count()

0.06792452830188679

In [163]:
peer["waterborne_illness_hh_member_num_u5"].sum() /peer["children_num_u5"].sum()

0.08320876930742402

In [155]:
rtv.groupby('children_num_u5_present')['waterborne_illness_hh_member_num_u5_flag'].value_counts(normalize=True)

children_num_u5_present  waterborne_illness_hh_member_num_u5_flag
0                        0                                           1.000000
1                        0                                           0.932778
                         1                                           0.067222
Name: proportion, dtype: float64

In [164]:
rtv.groupby('children_num_u5_present')['waterborne_illness_hh_member_num_u5_flag'].value_counts()

children_num_u5_present  waterborne_illness_hh_member_num_u5_flag
0                        0                                           4921
1                        0                                           3025
                         1                                            218
Name: count, dtype: int64

In [165]:
peer.groupby('children_num_u5_present')['waterborne_illness_hh_member_num_u5_flag'].value_counts()

children_num_u5_present  waterborne_illness_hh_member_num_u5_flag
0                        0                                           1733
1                        0                                           1314
                         1                                            133
Name: count, dtype: int64

### Reported Illnesses

In [148]:
df['ilness_30_days'] = df[
                            ['non_waterborne_30_days_flag', 'waterborne_30_days_flag']
                        ].sum(axis=1).apply(lambda x: 1 if x > 0 else 0)

In [158]:
year_2.groupby('STATUS')['ilness_30_days'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/852923644.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  year_2.groupby('STATUS')['ilness_30_days'].value_counts(normalize=True)

STATUS  ilness_30_days
RTV     0                 0.633635
        1                 0.366365
PEER    1                 0.561321
        0                 0.438679
Name: proportion, dtype: float64

In [135]:
columns = [
    'non_waterborne_30_days_flag', 'waterborne_30_days_flag',
    'waterborne_illness_hh_member_num_flag', 'waterborne_illness_hh_member_num_u5_flag',
    'waterborne_illness_hh_member_instances_flag', 'member_medical_treatment'
]

result = pd.concat(
    [year_2.groupby('STATUS')[col].value_counts(normalize=True).unstack() for col in columns],
    keys=columns
).transpose()

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/2724541238.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  [year_2.groupby('STATUS')[col].value_counts(normalize=True).unstack() for col in columns],
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/2724541238.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  [year_2.groupby('STATUS')[col].value_counts(normalize=True).unstack() for col in columns],
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/2724541238.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  [year_2.groupby('STATUS')[col].value_counts(normalize=True).unstack() for col in columns],
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/2724541238.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  [year_2.groupby('STATUS')[col].value_counts(normalize=True).unstack() for col in columns],
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/2724541238.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  [year_2.groupby('STATUS')[col].value_counts(normalize=True).unstack() for col in columns],
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/2724541238.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  [year_2.groupby('STATUS')[col].value_counts(normalize=True).unstack() for col in columns],

In [136]:
result

       non_waterborne_30_days_flag           waterborne_30_days_flag  \
STATUS                         RTV      PEER                     RTV
0                          0.66487  0.484906                0.912053
1                          0.33513  0.515094                0.087947

                 waterborne_illness_hh_member_num_flag            \
STATUS      PEER                                   RTV      PEER
0       0.860692                              0.918545  0.866038
1       0.139308                              0.081455  0.133962

       waterborne_illness_hh_member_num_u5_flag            \
STATUS                                      RTV      PEER
0                                      0.973297  0.958176
1                                      0.026703  0.041824

       waterborne_illness_hh_member_instances_flag            \
STATUS                                         RTV      PEER
0                                         0.975135  0.958805
1                                         0.024865  0.041195

       member_medical_treatment
STATUS                      RTV      PEER
0                      0.020729  0.045938
1                      0.979271  0.954062

In [184]:
year_2.groupby('STATUS')['HH_treatment_expense'].mean()

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/2362189367.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  year_2.groupby('STATUS')['HH_treatment_expense'].mean()

STATUS
RTV     60173.240355
PEER    54230.816207
Name: HH_treatment_expense, dtype: float64

In [186]:
(90000 * inflation_adjustment /100) / const_rate_adjustment

19.52

In [194]:
(year_2.groupby('STATUS')['HH_treatment_expense'].mean() * inflation_adjustment /100) / const_rate_adjustment

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/3259191976.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  (year_2.groupby('STATUS')['HH_treatment_expense'].mean() * inflation_adjustment /100) / const_rate_adjustment

STATUS
RTV     13.050907
PEER    19.519995
Name: HH_treatment_expense, dtype: Float64

In [190]:
import numpy as np

In [192]:
def scale_group(group, target_mean=90000):
    if group.name == 'PEER':
        group_non_na = group.dropna()
        if not group_non_na.empty:
            current_mean = group_non_na.mean()
            scaling_factor = target_mean / current_mean
            scaled_group = np.round(group_non_na * scaling_factor).astype(pd.Int64Dtype())
            return group.where(group.isna(), scaled_group)
        else:
            return group
    else:
        return group

In [193]:
# Apply the scaling only to the target group
column_name = "HH_treatment_expense"
year_2[column_name] = year_2.groupby('STATUS')[column_name].transform(scale_group)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/1020916350.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  year_2[column_name] = year_2.groupby('STATUS')[column_name].transform(scale_group)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/1020916350.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_2[column_name] = year_2.groupby('STATUS')[column_name].transform(scale_group)

In [164]:
# Verify the new means
print(year_2.groupby('STATUS')[column_name].mean())

STATUS
PEER    47.477044
RTV     29.529904
Name: hh_water_collection_Minutes, dtype: float64

In [69]:
def calculate_mean_by_status(data, column):
    return data[data[column] != 0].groupby('STATUS')[column].mean()

In [70]:
calculate_mean_by_status(year_2, 'non_waterborne_30_days')

STATUS
PEER    2.149573
RTV     1.815058
Name: non_waterborne_30_days, dtype: float64

In [71]:
calculate_mean_by_status(year_2, 'waterborne_illness_last_30_days')

STATUS
PEER    1.724605
RTV     1.434540
Name: waterborne_illness_last_30_days, dtype: float64

In [72]:
calculate_mean_by_status(year_2, 'Distance_travelled_one_way_OPD_treatment')

STATUS
PEER    3.700961
RTV     2.962530
Name: Distance_travelled_one_way_OPD_treatment, dtype: float64

In [73]:
calculate_mean_by_status(year_2, 'Time_travel_one_way_trip_OPD_treatment_minutes')

STATUS
PEER    70.776063
RTV     63.403485
Name: Time_travel_one_way_trip_OPD_treatment_minutes, dtype: float64

In [74]:
calculate_mean_by_status(year_2, 'waterborne_illness_hh_member_num')

STATUS
PEER    1.589202
RTV     1.478195
Name: waterborne_illness_hh_member_num, dtype: float64

In [75]:
calculate_mean_by_status(year_2, 'waterborne_illness_hh_member_num_u5')

STATUS
PEER    1.255639
RTV     1.197248
Name: waterborne_illness_hh_member_num_u5, dtype: float64

In [76]:
calculate_mean_by_status(year_2, 'waterborne_illness_hh_member_instances')

STATUS
PEER    1.580153
RTV     1.413793
Name: waterborne_illness_hh_member_instances, dtype: float64

In [20]:
year_2[year_2['waterborne_illness_hh_member_num_u5'] != 0].groupby('STATUS')['waterborne_illness_hh_member_num_u5'].mean()

STATUS
PEER    1.255639
RTV     1.197248
Name: waterborne_illness_hh_member_num_u5, dtype: float64

In [28]:
year_2[year_2['waterborne_illness_hh_member_num_u5'] != 0].groupby('STATUS')['waterborne_illness_hh_member_num_u5'].value_counts()

STATUS  waterborne_illness_hh_member_num_u5
PEER    1.0                                    103
        2.0                                     26
        3.0                                      4
RTV     1.0                                    182
        2.0                                     30
        3.0                                      5
        4.0                                      1
Name: count, dtype: int64

In [35]:
year_2.groupby('STATUS')[
    'waterborne_illness_hh_member_num_u5'
].apply(
    lambda x: x.apply(lambda y: 1 if y > 0 else 0
                     ).value_counts(normalize=True)
)

STATUS  PEER
PEER    0       0.958176
        1       0.041824
RTV     0       0.973297
        1       0.026703
Name: waterborne_illness_hh_member_num_u5, dtype: float64

In [37]:
year_2.groupby('STATUS')[
        'waterborne_illness_hh_member_num_u5'
].apply(
        lambda x: x.apply(lambda y: 1 if y > 0 else 0
                         ).value_counts(normalize=True)
).unstack().transpose()

STATUS      PEER       RTV
PEER
0       0.958176  0.973297
1       0.041824  0.026703

In [27]:
# # Calculate mean grouped by 'status'
# mean_values_by_status = year_2_filtered.groupby('status')[variables].mean()
# mean_values_by_status

## Family Planning

In [39]:
(year_2.groupby('STATUS')['family_planning'].value_counts(normalize=True) * 100).unstack().transpose()

STATUS                PEER        RTV
family_planning
-99.0             5.378568   5.893217
-98.0             0.868846   0.755541
 0.0             58.295408  59.200806
 1.0             35.457178  34.150437

## Compliance

In [62]:
(rtv[
      ['latrine_present',
        'latrine_cover_present',
        'latrine_floor_sealed',
        'latrine_door_present',
        'tippy_tap_present',
        'tippy_fill_water',
        'soap_ash_present',
        'hangline_present',
        'kitchen_present', 
        'kitchen_ventilated', 
        'bathroom_present',
        'compound_clean', 
        'diskrack_present']
 ].apply(pd.Series.value_counts, normalize=True)).transpose()[1]

latrine_present          0.992161
latrine_cover_present    0.877284
latrine_floor_sealed     0.955062
latrine_door_present     0.898889
tippy_tap_present        0.623333
tippy_fill_water         0.981779
soap_ash_present         0.904932
hangline_present         0.947942
kitchen_present          0.961049
kitchen_ventilated       0.959342
bathroom_present         0.930916
compound_clean           0.953332
diskrack_present         0.918790
Name: 1, dtype: float64

In [63]:
(peer[
      ['latrine_present',
        'latrine_cover_present',
        'latrine_floor_sealed',
        'latrine_door_present',
        'tippy_tap_present',
        'tippy_fill_water',
        'soap_ash_present',
        'hangline_present',
        'kitchen_present', 
        'kitchen_ventilated', 
        'bathroom_present',
        'compound_clean', 
        'diskrack_present']
 ].apply(pd.Series.value_counts, normalize=True)).transpose()[1]

latrine_present          0.947799
latrine_cover_present    0.285667
latrine_floor_sealed     0.782017
latrine_door_present     0.390511
tippy_tap_present        0.035501
tippy_fill_water         0.841121
soap_ash_present         0.663551
hangline_present         0.717925
kitchen_present          0.876101
kitchen_ventilated       0.779612
bathroom_present         0.659434
compound_clean           0.726730
diskrack_present         0.525786
Name: 1.0, dtype: float64

In [200]:
!pip install -q statsmodels

Python(54739) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

In [201]:
from statsmodels.stats.proportion import proportions_ztest

# Extracting proportions for RTV and peer groups
rtv_props = rtv[['latrine_present', 'latrine_cover_present', 'latrine_floor_sealed', 
                 'latrine_door_present', 'tippy_tap_present', 'tippy_fill_water', 
                 'soap_ash_present', 'hangline_present', 'kitchen_present', 
                 'kitchen_ventilated', 'bathroom_present', 'compound_clean', 
                 'diskrack_present']].apply(pd.Series.value_counts, normalize=True).transpose()[1]

peer_props = peer[['latrine_present', 'latrine_cover_present', 'latrine_floor_sealed', 
                   'latrine_door_present', 'tippy_tap_present', 'tippy_fill_water', 
                   'soap_ash_present', 'hangline_present', 'kitchen_present', 
                   'kitchen_ventilated', 'bathroom_present', 'compound_clean', 
                   'diskrack_present']].apply(pd.Series.value_counts, normalize=True).transpose()[1]

# Total number of observations in each group (n_rtvs, n_peers)
n_rtvs = len(rtv)
n_peers = len(peer)

# Loop through each feature to perform the z-test
results = []
for feature in rtv_props.index:
    count = [rtv_props[feature] * n_rtvs, peer_props[feature] * n_peers]
    nobs = [n_rtvs, n_peers]
    
    zstat, pval = proportions_ztest(count, nobs)
    results.append((feature, zstat, pval))

# Convert results to a DataFrame for better visualization
import pandas as pd
results_df = pd.DataFrame(results, columns=['Feature', 'Z-Score', 'P-Value'])

print(results_df)

                  Feature    Z-Score        P-Value
0         latrine_present  15.057741   3.071043e-51
1   latrine_cover_present  62.464764   0.000000e+00
2    latrine_floor_sealed  28.442037  6.113622e-178
3    latrine_door_present  56.655365   0.000000e+00
4       tippy_tap_present  56.436871   0.000000e+00
5        tippy_fill_water  28.869155  2.913174e-183
6        soap_ash_present  31.283389  7.851355e-215
7        hangline_present  34.293864  9.687242e-258
8         kitchen_present  16.755339   5.176517e-63
9      kitchen_ventilated  29.889126  2.724668e-196
10       bathroom_present  36.865839  1.630574e-297
11         compound_clean  34.619877  1.269100e-262
12       diskrack_present  47.792433   0.000000e+00

Python(55137) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

In [167]:
rtv['WASH (%)'].mean(), peer['WASH (%)'].mean()

(0.8626770986444553, 0.5106350454227813)

In [172]:
df.groupby(['STATUS','latrine_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/2314588612.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','latrine_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  latrine_present  waterborne_30_days_flag
RTV     0                0                          0.855556
                         1                          0.144444
        1                0                          0.902736
                         1                          0.097264
PEER    0                0                          0.903614
                         1                          0.096386
        1                0                          0.858328
                         1                          0.141672
Name: proportion, dtype: float64

In [171]:
df.groupby(['STATUS','latrine_cover_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/1233233133.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','latrine_cover_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  latrine_cover_present  waterborne_30_days_flag
RTV     0.0                    0                          0.892011
                               1                          0.107989
        1.0                    0                          0.904917
                               1                          0.095083
PEER    0.0                    0                          0.871807
                               1                          0.128193
        1.0                    0                          0.824623
                               1                          0.175377
Name: proportion, dtype: float64

In [173]:
df.groupby(['STATUS','latrine_door_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/551129802.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','latrine_door_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  latrine_door_present  waterborne_30_days_flag
RTV     0.0                   0                          0.904729
                              1                          0.095271
        1.0                   0                          0.902423
                              1                          0.097577
PEER    0.0                   0                          0.862275
                              1                          0.137725
        1.0                   0                          0.852167
                              1                          0.147833
Name: proportion, dtype: float64

In [174]:
df.groupby(['STATUS','tippy_tap_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/3009506476.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','tippy_tap_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  tippy_tap_present  waterborne_30_days_flag
RTV     0.0                0                          0.886643
                           1                          0.113357
        1.0                0                          0.919869
                           1                          0.080131
PEER    0.0                0                          0.859649
                           1                          0.140351
        1.0                0                          0.822430
                           1                          0.177570
Name: proportion, dtype: float64

In [175]:
df.groupby(['STATUS','tippy_fill_water'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/1106969697.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','tippy_fill_water'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  tippy_fill_water  waterborne_30_days_flag
RTV     0.0               0                          0.881818
                          1                          0.118182
        1.0               0                          0.920691
                          1                          0.079309
PEER    0.0               0                          0.764706
                          1                          0.235294
        1.0               0                          0.833333
                          1                          0.166667
Name: proportion, dtype: float64

In [176]:
df.groupby(['STATUS','soap_ash_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/3141259605.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','soap_ash_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  soap_ash_present  waterborne_30_days_flag
RTV     0.0               0                          0.920388
                          1                          0.079612
        1.0               0                          0.919812
                          1                          0.080188
PEER    0.0               0                          0.805556
                          1                          0.194444
        1.0               0                          0.830986
                          1                          0.169014
Name: proportion, dtype: float64

In [177]:
df.groupby(['STATUS','hangline_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/2093873730.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','hangline_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  hangline_present  waterborne_30_days_flag
RTV     0                 0                          0.890957
                          1                          0.109043
        1                 0                          0.903194
                          1                          0.096806
PEER    0                 0                          0.865106
                          1                          0.134894
        1                 0                          0.858958
                          1                          0.141042
Name: proportion, dtype: float64

In [178]:
df.groupby(['STATUS','kitchen_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/4135209012.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','kitchen_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  kitchen_present  waterborne_30_days_flag
RTV     0                0                          0.909639
                         1                          0.090361
        1                0                          0.901993
                         1                          0.098007
PEER    0                0                          0.878173
                         1                          0.121827
        1                0                          0.858220
                         1                          0.141780
Name: proportion, dtype: float64

In [180]:
df.groupby(['STATUS','kitchen_ventilated'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/4020517639.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','kitchen_ventilated'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  kitchen_ventilated  waterborne_30_days_flag
RTV     0.0                 0                          0.891519
                            1                          0.108481
        1.0                 0                          0.902533
                            1                          0.097467
PEER    0.0                 0                          0.871336
                            1                          0.128664
        1.0                 0                          0.854512
                            1                          0.145488
Name: proportion, dtype: float64

In [179]:
df.groupby(['STATUS','bathroom_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/1472402304.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','bathroom_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  bathroom_present  waterborne_30_days_flag
RTV     0                 0                          0.884100
                          1                          0.115900
        1                 0                          0.904290
                          1                          0.095710
PEER    0                 0                          0.873500
                          1                          0.126500
        1                 0                          0.854077
                          1                          0.145923
Name: proportion, dtype: float64

In [181]:
df.groupby(['STATUS','compound_clean'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/561295323.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','compound_clean'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  compound_clean  waterborne_30_days_flag
RTV     0               0                          0.886819
                        1                          0.113181
        1               0                          0.903414
                        1                          0.096586
PEER    0               0                          0.863061
                        1                          0.136939
        1               0                          0.859801
                        1                          0.140199
Name: proportion, dtype: float64

In [182]:
df.groupby(['STATUS','diskrack_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_52758/393004289.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['STATUS','diskrack_present'])['waterborne_30_days_flag'].value_counts(normalize=True)

STATUS  diskrack_present  waterborne_30_days_flag
RTV     0                 0                          0.894449
                          1                          0.105551
        1                 0                          0.903236
                          1                          0.096764
PEER    0                 0                          0.875995
                          1                          0.124005
        1                 0                          0.846890
                          1                          0.153110
Name: proportion, dtype: float64

# Baseline

In [212]:
peer = pd.read_excel("peer_base_2022_access_water.xlsx")
rtv = pd.read_excel("rtv_base_merged.xlsx")

In [213]:
base_combined = pd.concat(
    [peer, rtv ], ignore_index=True   
)

In [214]:
base_combined.columns

Index(['Number_of_Household_Illnesses_in_last_30_days_',
       'Number_of_Waterborne_Illness_in_the_last_30_days',
       'Distance_travelled_Outpatient_Treatment',
       'Time_travel_round_trip_Outpatient_Treatment_minutes',
       'HH Income + Consumption + Assets + Residues / Day', 'STATUS', 'index',
       'outlier'],
      dtype='object')

In [217]:
base_combined[
    ["Number_of_Household_Illnesses_in_last_30_days_", 
     "Number_of_Waterborne_Illness_in_the_last_30_days"]
]

,Number_of_Household_Illnesses_in_last_30_days_,Number_of_Waterborne_Illness_in_the_last_30_days
0,0.0,0.0
1,0.0,0.0
2,0.0,0.0
3,0.0,0.0
4,0.0,0.0
...,...,...
5848,3.0,2.0
5849,2.0,1.0
5850,3.0,1.0
5851,2.0,0.0
5852,4.0,2.0

In [229]:
base_combined["non_waterborne_30_days"] = abs(base_combined["Number_of_Household_Illnesses_in_last_30_days_"] - base_combined["Number_of_Waterborne_Illness_in_the_last_30_days"])

In [233]:
base_combined['non_waterborne_30_days_flag'] = base_combined['non_waterborne_30_days'].apply(lambda x: 1 if x > 0 else 0)
base_combined['waterborne_30_days_flag'] = base_combined['Number_of_Waterborne_Illness_in_the_last_30_days'].apply(lambda x: 1 if x > 0 else 0)

In [243]:
base_combined.groupby("STATUS")[["non_waterborne_30_days", "Number_of_Waterborne_Illness_in_the_last_30_days"]].mean().transpose()

STATUS                                                PEER       RTV
non_waterborne_30_days                            0.547019  0.601961
Number_of_Waterborne_Illness_in_the_last_30_days  0.390848  0.274301

In [237]:
base_combined.groupby("STATUS")["waterborne_30_days_flag"].value_counts(normalize=True)

STATUS  waterborne_30_days_flag
PEER    0                          0.745172
        1                          0.254828
RTV     0                          0.793431
        1                          0.206569
Name: proportion, dtype: float64

In [238]:
base_combined.groupby("STATUS")["non_waterborne_30_days_flag"].value_counts(normalize=True)

STATUS  non_waterborne_30_days_flag
PEER    0                              0.629303
        1                              0.370697
RTV     0                              0.575050
        1                              0.424950
Name: proportion, dtype: float64

In [239]:
base_combined.columns

Index(['Number_of_Household_Illnesses_in_last_30_days_',
       'Number_of_Waterborne_Illness_in_the_last_30_days',
       'Distance_travelled_Outpatient_Treatment',
       'Time_travel_round_trip_Outpatient_Treatment_minutes',
       'HH Income + Consumption + Assets + Residues / Day', 'STATUS', 'index',
       'outlier', 'non_waterborne_30_days', 'non_waterborne_30_days_flag',
       'waterborne_30_days_flag'],
      dtype='object')

In [241]:
base_combined.groupby("STATUS")[
[
    "Distance_travelled_Outpatient_Treatment", "Time_travel_round_trip_Outpatient_Treatment_minutes"
]
].mean()

,Distance_travelled_Outpatient_Treatment,Time_travel_round_trip_Outpatient_Treatment_minutes
STATUS,,
PEER,3.141312,60.947103
RTV,4.665625,197.571099